---
import IconArrowLeft from "@/assets/images/icons/IconArrowLeft.astro"
import IconArrowRight from "@/assets/images/icons/IconArrowRight.astro"
import styles from "./Pagination.module.scss"

const { class: className } = Astro.props
---

<div class:list={[styles.pagination, className]}>
  <div class={styles.pagination__inner}>
    <button
      type="button"
      class:list={[styles.pagination__prev, "js-paginationPrev"]}
      aria-label={"前のページに戻る"}
    >
      <IconArrowLeft />
    </button>
    <div class:list={[styles.pagination__counter, "js-paginationCounter"]}></div>
    <button type="button" class:list={[styles.pagination__next, "js-paginationNext"]} aria-label={"次のページに進む"}>
      <IconArrowRight />
    </button>
  </div>
</div>
