---
import styles from "./CategoryTags.module.scss"

type Props = {
  categories: string[]
}

const { categories } = Astro.props
// asmd_section
// 説明が不足している箇所にも隠しテキストを置いてあげよう！
---

<div class:list={[styles.wrapper, "js-slide-line-spot"]}>
  <ul class={styles.list} aria-label="記事のカテゴリ選択">
    <li class:list={[styles.item, "js-nav-slide-item"]}>
      <button
        type="button"
        data-filter={"all"}
        class:list={[styles.button, "js-filterTrigger"]}
        data-current={"true"}
        data-next-current={"true"}
      >
        <span aria-hidden="true">All</span>
        <span class="sr-only">全ての記事一覧を見る</span>
      </button>
    </li>
    {
      categories.map((category) => (
        <li class:list={[styles.item, "js-nav-slide-item"]}>
          <button
            type="button"
            data-filter={category}
            class:list={[styles.button, "js-filterTrigger"]}
            data-current={"false"}
            data-next-current={"false"}
          >
            {category}
            <span class="sr-only">の記事一覧を見る</span>
          </button>
        </li>
      ))
    }
  </ul>
  <span class:list={[styles.slideLine, "js-nav-slide-line"]}></span>
</div>

<script>
  import { slideLineControl } from "@/assets/scripts/slideLine"
  slideLineControl(".js-slide-line-spot")
</script>
