@charset "utf-8";

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$content_width_sm: 739px;
$content_width_md: 897px;
$content_width_lg: 1006px;
$content_width_xl: 1061px;

$content_padding_sm: 23px;
$content_padding_md: 40px;
$content_padding_lg: 60px;

$color_black: #000;
$color_white: #fff;
$color_gray: #757578;
$color_primary: #0f83fd;

$ease_out_quint: cubic-bezier(0.22, 1, 0.36, 1);
$ease_out_cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease_in_out_quart: cubic-bezier(0.76, 0, 0.24, 1);

$header_height: 64px;
$header_height_sp: 41px;
