---
import type { CardProps } from "../Card/Card.astro"
import Card from "../Card/Card.astro"
import CategoryTags from "../CategoryTags/CategoryTags.astro"
import Pagination from "../Pagination/Pagination.astro"

import styles from "./CardsWithPaginationFilter.module.scss"

type Props = {
  categories: string[]
  cards: CardProps[]
  perPage?: number
}

const { cards, categories, perPage = 6 } = Astro.props
---

<div id="js-paginationWithFilter" class={styles.wrapper} data-per-page={perPage}>
  <CategoryTags categories={categories} />
  <div id="js-articlesWrap" class:list={[styles.cards, "mt-[42px] mb-[32px]"]}>
    {cards.map((card) => <Card {...card} />)}
    <div class={styles.skeletons}>
      {Array.from({ length: perPage }).map((_) => <div class:list={[styles.skeleton, "js-skeletonCard"]} />)}
    </div>
  </div>
  <Pagination />
</div>

<script>
  import { paginationWithFilter } from "@/assets/scripts/pagination"

  paginationWithFilter()
</script>
